/* This style sheet is used for the styles of the home page (index.html) */
main {
  color: #636363;
}

.container {
  text-align: center;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 34px;
  padding-bottom: 30px;
}

.profileImage {
  border-radius: 50%;
  border: 4px solid #cbcbcb;
}

.descriptionClass {
  font-style: italic;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.hobbiesPicturesContainer {
  padding-bottom: 30px;
}

.hobbiesPicturesContainer img {
  width: 150px;
}

#hobbyPicId1 img {
  width: 80%;
}

#hobbyPicId2 img {
  width: 50%;
}

#hobbyPicId3 img {
  width: 80%;
}

hr {
  border-radius: 1%;
  border: 2px solid #696969;
}

.contactClass h3 {
  padding-top: 20px;
}

.contactsListContainer {
  margin-left: 40%;
  padding-bottom: 80px;
}

.contact img {
  transition: 0.2s;
  width: 50px;
}

.contact:hover img {
  width: 55px;
  height: 55px;
}

@media only screen and (min-width: 768px) {
  /* Keep contact column width the same when minimum width is 768px */
  .contact {
    width: 65px;
  }
}

@media only screen and (max-width: 768px) {
  /* Changes to contacts list container when maximum width is 768px */
  .contactsListContainer {
    margin-left: 0%;
  }

  /* Changes to hobbyPictureCard class when maximum width is 768px */
  .hobbyPictureCard {
    padding-bottom: 10px;
  }
}